.sidebarOption{
    display: flex;
    align-items: center;
    color: grey;
    height: 40px;
    cursor: pointer;
    transition: 200ms color ease-in;
    overflow-y: overlay;

}
.sidebarOption:hover{
    color: white;
}

.Icon-sidebar{
    padding: 0px 10px;
}